.box{
    display: flex;
    width: 100%;
    border: 0;
}
.button{
    background-color: red;
    padding: 10px;
    border:0;
    width: 30%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}


@media only screen and (max-width: 650px){
    .button{
        font-size: 10px;
    }
}